<!DOCTYPE html>
<html ng-app="angularjs-demo">
<head lang="en">
<meta charset="UTF-8">
<title>AngularJS DEMO</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body>
<div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	

	<!-- LIBS -->
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="assets/js/angular.js"></script>
	<script src="assets/js/angular-route.js"></script>
	<script src="assets/js/angular-cookies.js"></script>

	<!-- APP -->
	<script src="app/config/app.js"></script>
	<script src="app/config/config.js"></script>
	<!-- CONTROLLERS -->
	<script src="app/controllers/navControllers.js"></script>
	<script src="app/controllers/userControllers.js"></script>
	<script src="app/controllers/taskControllers.js"></script>
	<script src="app/controllers/commentControllers.js"></script>
	<script src="app/controllers/login.controller.js"></script>
	<!-- SERVICES -->
	<script src="app/services/userService.js"></script>
	<script src="app/services/taskService.js"></script>
	<script src="app/services/commentService.js"></script>
	<script src="app/services/authentication.service.js"></script>
	<script src="app/services/flash.service.js"></script>
</body>
</html>