<div>
	<h2>Users</h2>

	<div ng-if="users.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="users.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.username}}</td>
					<td>{{user.email}}</td>
					<td>{{user.role}}</td>
					<td><a class="btn btn-primary" href="#/user/{{user.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/user/edit/{{user.id}}">Edit</a></td>
					<td><a class="btn btn-danger" href="#/user/delete/{{user.id}}">Delete</a></td>
					<td><a class="btn btn-warning" href="#/user/report/{{user.id}}">Report</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<td><a class="btn btn-primary" href="#/users/new">Add</a></td>
</div>
