<div>
	<h2>Tasks</h2>

	<div ng-if="tasks.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="tasks.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Status</th>
					<th>Assigned</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td>{{task.title}}</td>
					<td>{{task.description}}</td>
					<td>{{task.status}}</td>
					<td>{{task.users}}</td>
					<td><a class="btn btn-primary" href="#/task/{{task.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/task/edit/{{task.id}}">Edit</a></td>
					<td><a class="btn btn-danger" href="#/task/delete/{{task.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<td><a class="btn btn-primary" href="#/tasks/new">Add</a></td>
</div>
